In [2]:
num=12
name="Sam"

In [7]:
print('my number is {one} and my name is {two}, more {one}'.format(one=num,two=name))

my number is 12 and my name is Sam, more 12

In [12]:
s= 'abcdefghijk'

In [14]:
s[0:]

'abcdefghijk'

In [15]:
s[:6]

'abcdef'

In [17]:
s[3:6]

'def'

Lists

In [18]:
[1,2,3]

[1, 2, 3]

In [19]:
['a','b','c']

['a', 'b', 'c']

In [20]:
my_list= ['a','b','c']

In [21]:
my_list.append('d')

In [22]:
my_list

['a', 'b', 'c', 'd']

In [23]:
my_list[0]

'a'

In [24]:
my_list[1:3]

['b', 'c']

In [25]:
my_list[0]='AAS'

In [26]:
my_list

['AAS', 'b', 'c', 'd']

In [27]:
nest=[1,2,[3,4]]

In [28]:
nest

[1, 2, [3, 4]]

In [29]:
nest[2]

[3, 4]

In [30]:
nest[2][0]

3

In [31]:
nest=[1,2,3,[4,5,['target']]]

In [32]:
nest[3]

[4, 5, ['target']]

In [33]:
nest[3][2]

['target']

In [34]:
nest[3][2][0]

'target'

Crash course part 2

Dictionaries

In [35]:
d={'key1':'value', 'key2':123}

In [37]:
d['key1']

'value'

In [38]:
d['key2']

123

In [39]:
d = {'k1':[1,2,3]}

In [42]:
d['k1']

[1, 2, 3]

In [43]:
d ={'k1': {'inner':[1,2,3]}}

In [45]:
d['k1']['inner']

[1, 2, 3]

In [46]:
True

True

In [47]:
False

False

Tuples

In [48]:
t=(1,2,3)

In [49]:
t[0]

1

In [50]:
my_list

['AAS', 'b', 'c', 'd']

In [51]:
my_list[0]= "New"

In [52]:
my_list

['New', 'b', 'c', 'd']

tuples are immutable

In [53]:
t[0]='New'

TypeError: 'tuple' object does not support item assignment

Set

In [54]:
{1,2,3}

{1, 2, 3}

In [55]:
{1,2,3,4,5,5,5,3,4,6}

{1, 2, 3, 4, 5, 6}

In [56]:
set([1,1,1,1,2,2,2,2,3,3,3,4,4,4,4,5,5,])

{1, 2, 3, 4, 5}

In [57]:
s={1,2,3}

In [58]:
s.add(5)

In [59]:
s

{1, 2, 3, 5}

In [60]:
1>2

False

In [61]:
1<2

True

In [62]:
1>=2

False

In [63]:
1<=1

True

In [64]:
1==1

True

In [65]:
1==2

False

In [66]:
1!=3

True

In [67]:
'hi' =='bye'

False

In [71]:
(1 < 2) and (2 > 3)

False

In [72]:
(1<2) or (2>3)

True

if statement

In [75]:
if 1<2:
    print('yep!')

yep!

In [80]:
if 1==2:
    print('first')
elif 3==3:
    print('Middle')
else:
    print('last')

Middle

Crash course part-3

In [81]:
seq=[1,2,3,4,5]

In [82]:
 for item in seq:
        print(item)

1
2
3
4
5

While loop

In [2]:
i=1
while i<5:
    print('i is {}'.format(i))
    i=i+1

i is 1
i is 2
i is 3
i is 4

In [3]:
range(0,5)

range(0, 5)

In [5]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

List Comprehension

In [7]:
x = [1,2,3,4]

In [9]:
out =[]
for num in x:
    out.append(num**2)

In [10]:
print(out)

[1, 4, 9, 16]

In [12]:
out = [num**2 for num in x]

In [13]:
out

[1, 4, 9, 16]

Functions

In [22]:
def my_func(name='Default Name'):
    print('hello ! '+ name)

In [23]:
my_func('Jose')

hello ! Jose

In [24]:
my_func()

hello ! Default Name

In [25]:
my_func

In [31]:
def square(num):
    """
    This is a doc string
    Can go multiple lines
    This function squares a no
    """
    return num**2

In [28]:
output = square(2)

In [29]:
output

4

In [32]:
range

range

# map()

In [33]:
seq=[1,2,3,4,5]

In [37]:
list(map(square, seq))

[1, 4, 9, 16, 25]

In [42]:
#rewriting times2 function as lambda expression to reduce lines of code

In [43]:
def times2(var): return var*3

In [44]:
list(map(lambda num:num*3, seq))

[3, 6, 9, 12, 15]

In [45]:
list(filter(lambda num: num%2==0, seq))

[2, 4]

In [46]:
#methods

In [47]:
s = 'hello my name is Anmol'

In [48]:
s.lower()

'hello my name is anmol'

In [49]:
s.upper()

'HELLO MY NAME IS ANMOL'

In [50]:
s.split()

['hello', 'my', 'name', 'is', 'Anmol']

In [59]:
tweet = 'Go sports! #sports'

In [61]:
tweet.split('#')[1]

'sports'

In [64]:
d = {'k1':1, 'k2':2}

In [65]:
d

{'k1': 1, 'k2': 2}

In [66]:
d.keys()

dict_keys(['k1', 'k2'])

In [67]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [68]:
d.values()

dict_values([1, 2])

In [69]:
lst=[1,2,3]

In [70]:
lst.pop()

3

In [71]:
lst

[1, 2]

In [72]:
lst.pop(0)

1

In [73]:
lst

[2]

In [74]:
lst.append('new')

In [75]:
lst

[2, 'new']

In [76]:
'x' in [1,2,3]

False

In [77]:
'x' in ['x','y']

True

In [78]:
#Tuple unpacking

In [79]:
x = [(1,2),(3,4),(5,6)]

In [80]:
x[0][1]

2

In [86]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6